//Mixins

@mixin rotated($radius) {
      -webkit-transform: rotate($radius);
      -ms-transform: rotate($radius);
      transform: rotate($radius);
 }
 

//flex box mixins

@mixin flex-column {
      display: flex;
      flex-direction: column;
}
    
@mixin flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
}
    
@mixin flex-center-column {
      @include flex-center;
      flex-direction: column;
}
    
@mixin flex-center-vert {
      display: flex;
      align-items: center;
}
    
@mixin flex-center-horiz {
      display: flex;
      justify-content: center;
}

//fonts

@mixin fontFace($font-family, $file-path) {
      @font-face {
          font: {
              family: $font-family;
              weight: normal;
              style: normal;
          }
          //Modern Browsers
          src: url('#{$file-path}.woff') format('woff'),
          url('#{$file-path}.woff2') format('woff2')
      }
  }

  @mixin menuTitle {
      font-size: 45px;
      font-weight: bold;
      text-align: center;
      @media screen and (min-width: 1200px) {
            font-size: 55px;
      }
      @media screen and (min-width: 1920px) {
            font-size: 85px;
      }
  }

  @mixin projectTitle {
      font-size: 18px;
      font-weight: bold;
      @media screen and (min-width: 768px) {
            font-size: 25px;
      }
      @media screen and (min-width: 1200px) {
            font-size: 35px;
      }
      @media screen and (min-width: 1920px) {
            font-size: 45px;
      }
  }

  @mixin projectSubTitle {
      font-size: 18px;
      font-weight: 400;
      @media screen and (min-width: 1200px) {
            font-size: 20px;
      }
      @media screen and (min-width: 1920px) {
            font-size: 40px;
      }
  }

  @mixin solutionTitle {
      font-size: 16px;
      font-weight: bold;
      margin-top: 25px;
      // margin-bottom: 25px;
      @media screen and (min-width: 1200px) {
            font-size: 18px;
      }
      @media screen and (min-width: 1920px) {
            font-size: 30px;
      }
  }

  @mixin bodyText {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5em;
      @media screen and (min-width: 1200px) {
            font-size: 18px;
      }
      @media screen and (min-width: 1920px) {
            font-size: 25px;
      }    
  }

  @mixin recBox($color, $bgc) {
      width: 110px;
      color: $color;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: bold;
      background-color: $bgc  ;
      padding: 5px;
      @media screen and (min-width: 1200px) {
            font-size: 20px;
      }
      @media screen and (min-width: 1920px) {
            font-size: 40px;
            padding: 10px;
            width: 200px;
      }
  }

  @mixin ovalBox {
      display: inline-block;
      border-radius: 2em;
      width: 110px;
      color: white;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: bold;
      background-color: black;
      padding: 5px;
      @media screen and (min-width: 1200px) {
            font-size: 20px;
      }
      @media screen and (min-width: 1920px) {
            font-size: 40px;
            padding: 10px;
            width: 200px;
      }
  }
