@use 'fonts';

$first-color: #FAD508;
$second-color: #599BBA;
$third-color: #E503CB;
$fourth-color: #0A9645;

$body-text-color: #000000;

$heading-font-family: 'Ubuntu', sans-serif;
$body-font-family: 'Open Sans', sans-serif;

// $base-font-size: 18px;
// $base-font-weight: 400;

